<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Application</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="contact-us">
        <h1>Iris Django Application</h1>
        <hr>
        {% if result %}
            <h3>Flower you're trying to classify is <em>{{ result }}</em></h3>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            <label for="sepal_length">Sepal Length</label>
            <input type="number" name="sepal_length" id="sepal_length" required>
            
            <label for="sepal_width">Sepal Width</label>
            <input type="number" name="sepal_width" id="sepal_width" required>
            
            <label for="petal_length">Petal Length</label>
            <input type="number" name="petal_length" id="petal_length" required>
            
            <label for="petal_width">Petal Width</label>
            <input type="number" name="petal_width" id="petal_width" required>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
